.header {
    display: flex;
    align-items: center;
    &_date {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &_pre, &_post {
            background-color: transparent;
            border: none;
            outline: none;
            margin: 10px 24px;
            cursor: pointer;
        }
    }

    &_today {
        background-color: #e8e6e6;
        outline: none;
        border: none;
        padding: 4px 8px;
        border-radius: 4px;
        color: #898989;
        cursor: pointer;
    }
}